body{
  background-color: #FFFFFF;
  font-family:"Alegreya", serif;
}

h1{
  font-size: 400%;
  color: #01093F;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #A5A7B1
}

h4{
  padding: 20px;
  text-align: center;
  font-size: 200%;
  color:#FF6059;
}

h2{
  text-align: center;
  color: #A5A7B1;
  font-size: 15px;
  padding-top: 40px;
}

p{
  padding: 20px;
  margin: 30px;
  font-size: 100%;
  color:#FF6059;
}

img{
  margin-left: 380px;
}

#big{
  text-align: center;
}
a:link{
  color: #7d82A1;
}

a:visited{
  color: #b2b5c5;
}

a:hover{
  color: #01093F;
}
