*{
  margin: 0;
  padding: 0;
}

h1 a{
  text-decoration: none;
  color: #333;
}

body{
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  color: #333;
  text-transform: capitalize;
  font-size: 112px;
  position: relative;
}

h1::after{
  content: "HL Design";
  color: transparent;
  position: absolute;
  top: 0;
  left:0;
  background: linear-gradient(to right, #355070,#6d597a,#b56576,#e56b6f,#eaac8b);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(100px at 0% 50%);
  animation: light 5s infinite;
}

@keyframes light {
  0%{
    clip-path: circle(100px at 0% 50%);
  }
  50%{
    clip-path: circle(100px at 100% 50%);
  }
  100%{
    clip-path: circle(100px at 0% 50%);
  }
}
