
body{
  background-color: #FFFFFF;
  font-family: 'Alegreya', serif;
}

h1{
  font-size: 400%;
  color: #01093F;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #A5A7B1
}

.buttons{
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}

button{
  background-color: #FF6059;
  border:none;
  color: white;
  border-radius: 12px;
  padding: 15px 32px;
  margin: 4px 2px;
  text-align: center;
  display: block;
  box-shadow: 5px 5px 5px #dcdada;
  font-size: 20px;
  font-family: 'Alegreya',serif;
}

button:visited{
  background-color: #Fec8be;
}
button:hover{
  background-color: #FF2500;
}

hr{
  width: 50%;
}
